.relative{
    background-color: blue;
    height: 400px;
    position: relative;
    
}
.absolute{
    background-color: gold;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
}
h1{
    background-color: red;
    position: fixed;
    top: 0px;
}
